body {
  background-color: teal;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
  text-align: center;
  font-size: 2em;
}

#artists-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: beige;
  padding: 10px;
}

#header-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#submit-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: beige;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

input[type="submit"],
input[type="button"] {
  background-color: rgb(15, 177, 123);
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 2px inset;
  color: #4e4107;
  font-size: 1em;
}

#artists-grid > article {
  padding: 20px 0;
  font-size: 1.5em;
  background-color: rgb(233, 207, 176);
  border-radius: 10px 20px;
}
#artists-grid > article.favorite {
  background-color: rgb(133, 133, 228);
}

img {
  max-width: 300px;
}

button {
  background-color: rgb(15, 177, 123);
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 2px inset;
  color: #4e4107;
  font-size: 0.7em;
  font-weight: 600;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
  opacity: 0.8;
}

select {
  padding: 10px;
  color: rgb(4, 82, 4);
  background-color: rgb(224, 223, 223);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.5em;
}

select:hover {
  cursor: pointer;
  opacity: 0.9;
}
button.red {
  background-color: rgb(214, 93, 93);
}
button.yellow {
  font-weight: 600;
  background-color: rgb(211, 221, 72);
}
button.favorite {
  opacity: 0.7;
  background-color: rgb(128, 116, 116);
  color: #00030a;
}

dialog {
  background-color: #5c7fca;
  padding: 2em;
  border-radius: 4px;
}

/* <!-- HTML !-->
<button class="button-7" role="button">Button 7</button>

/* CSS */
/* .button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
} */
